@model RetailMasters.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>site</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitecode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitecode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shiftstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shiftstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Supdesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Siteid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
