@model RetailMasters.Models.Valetprice

@{
    ViewData["Title"] = "Valet Price Details";
}

<h2>Valet Price Details</h2>

<div>
    <h4>Valet Price</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Site</dt>
        <dd class="col-sm-10">@Model.Site?.Sitecode</dd>

        <dt class="col-sm-2">Valet Type</dt>
        <dd class="col-sm-10">@Model.Valettype?.Valettypename</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Effective Date</dt>
        <dd class="col-sm-10">@Model.Effectivedate</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Valetpriceid" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
