@model RetailMasters.Models.site

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>site</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sitecode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sitecode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shiftstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shiftstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supplier.supdesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.siteid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
